/* This is tiny grid: */
/*table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

.board td {
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}
*/

/*ANIMATION */

.chip {
  border-radius: 50%;
  margin: 15px;
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.animation_chip {
  z-index: 100;
  background-color: blue;
  border-radius: 50%;
  margin: 15px;
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

table{
  table-layout: fixed;
  margin: 0 auto;
}

#dashboard {
  display: block;
}



.board td {
  display: block;
  float: left;
  background-color: #9999FF;
  height: 100px;
  width: 100px;
}

#game_board {
  position: absolute;
  left: 200px;
  margin-left: 200px;
}

#ani_board {
  pointer-events: none;
  z-index: 1;
  width: 700px;
  height: 100%;
  position: fixed;
  top: -500px;
  left: 200px;
  margin-left: 200px;
}

.ani_chip_container {
  top: -300px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 81px;
}

.ani_chip {
  position:fixed;
  top:-200px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: green;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}


